body {
    background-color: rgb(169, 179, 189);



}
article {
    padding: 25px;
    background-color: gray;
    margin-bottom: 25px;
    border-radius: 5px;



}

.row {
    margin: 25px 0px;


}

.nav-link {
font-size: 16px;



